/* UTILITIES */
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #EEE;
}

select {
  height: 28px;
  width: 100px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

/* TYPO */
body {
  font-family: "Helvetica";
}

/* CONTAINER */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

/* HEADER */
.header {
  margin-top: 35px;
  margin-bottom: 20px;
}

.header span {
  font-size: 13px;
}

.header h1 {
  margin: 0px;
}

/* IDEA CONTAINER */
#ideas-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

#ideas-container span {
  margin: 20px 10px;
}

/* IDEA */
.idea {
  background-color: #EEE;
  margin: 10px;
  height: 150px;
  width: 150px;
  padding: 10px;
  position: relative;
  border-radius: 3px;
}

.idea-title, .new-idea-title {
  font-size: 16px;
}

input, textarea {
  background: none;
  border: none;
  padding: 4px;
  width: 100%;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: solid 1px #BBB;
}

.idea-delete-button {
  position: absolute;
  bottom: 8px;
  right: 10px;
  visibility: hidden;
}

.idea:hover .idea-delete-button {
  visibility: visible;
}

/* NEW IDEA FORM */
.idea-save-button {
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.idea-cancel-button {
  position: absolute;
  bottom: 8px;
  left: 55px;
}

#new-idea-button {
  cursor: pointer;
}

#new-idea-form {
  margin: 10px;
}

.new-idea-container {
  padding: 0;
  transition: 0.2s;
}

.new-idea-container:hover span {
  text-decoration: underline;
}

