/* UTILITIES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
}

button {
  cursor: pointer;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #EEE;
}

select {
  height: 28px;
  width: 100px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-split {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.full {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

/* TYPO */
body {
  font-family: "Helvetica";
}

/* CONTAINER */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  overflow: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

/* HEADER */
.header {
  margin-top: 45px;
  margin-bottom: 20px;
}

.header span {
  font-size: 13px;
}

.header h1 {
  margin: 0px;
}

/* IDEA CONTAINER */
#ideas-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

/* IDEA */
.idea {
  background-color: #EEE;
  margin: 10px;
  height: 150px;
  width: 150px;
  padding: 10px;
  position: relative;
  border-radius: 3px;
}

.idea-title, .new-idea-title {
  font-size: 16px;
}

input, textarea {
  background: none;
  border: none;
  padding: 2px;
  width: 100%;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: solid 1px #BBB;
  outline-offset: 0;
}

input.error, textarea.error {
  outline: solid 1px #FD9092 !important;
}

.idea-delete-button {
  position: absolute;
  bottom: 8px;
  right: 10px;
  visibility: hidden;
}

.idea:hover .idea-delete-button {
  visibility: visible;
}

/* NEW IDEA FORM */
.idea-save-button {
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.idea-cancel-button {
  position: absolute;
  bottom: 8px;
  left: 55px;
}

#new-idea-button {
  cursor: pointer;
}

#new-idea-button:hover {
  border: 1px solid #AAA;
  border-radius: 3px
}

#new-idea-form-container {
  margin: 10px;
}

.new-idea-container {
  padding: 0;
}

#new-idea-button:hover span {
  text-decoration: underline;
}

#char-count {
  font-size: 10px;
  position: absolute;
  bottom: 28px;
  left: 13px;
}

/* NOTIFICATION */
.note-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.note {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 13px;
  color: #444;
  font-weight: 300;
  animation: slideDown 2.5s ease forwards;
}

.note.error {
  background-color: #FD9092;
  color: black;
}

@keyframes slideDown {
  0%, 100% { transform: translateY(-35px); }
  10%, 90% { transform: translateY(0px); }
}

